.UIForumPortlet, .uiForumPortlet {
	background: none;
	padding: 20px;
	.uiBox{
		.box-shadow(none);
		margin-bottom: 10px;
	}
	.uiCategories, .uiCategory, .forumContainer{
		.uiGrid.table td, .uiGrid.table th{
			padding: 10px 5px;
			vertical-align: top;
		}
	}
}
/******************************************** UIForumActionBar ****************************************/
.uiForumActionBar {
	background: @white;
	padding: 4px 10px;
	
	.RightLine {
		float: right;
		line-height: 25px;
	}
	
	.DefaultStyle .DisableAction {
		opacity: 0.5;
	}
	
	.ToolbarActionsTag {
		float: right;
		margin: 2px 6px 0px 0px;
		cursor: pointer;
	}
}


/******************************************** UIForumDescription ****************************************/


.uiForumDescription {
	padding: 8px 10px;
	
	.forumLabel {
		color: @textColor;
	}
	
	.nameForum {
		color: @textColor;
		font-famaly: @sansBoldFontFamily;
	}
	
	.description {
		color: @grayLight;
		margin-left:5px;
	}
}


.uiForumPortlet {
	.pagination{
		margin: 0;
	}
	.defaultStyle{
	   	cursor: pointer;
	    float: left;
	    padding: 0 8px;
	    white-space: nowrap;
	}
	
	.forumToolbar{
		margin: 4px 0;
	}
	
	.forumSeparatorLine + .forumSeparatorLine{
		background: url("/forum/skin/DefaultSkin/images/background/SeparatorLine.png") no-repeat left -4px;
	}
	
	.uiForumIconState{ 
		.forumContains {
			line-height: 42px;
			padding: 0px 0px 0px 45px;
			
			i + i{
				margin-left: 20px;
			}
			
			span{
				margin-right: 20px;
			}
		}
	}
	
	.searchAdvance{
		padding: 10px;
		input{
			width: 120px;
			vertical-align: top;
			margin-right: 5px;
			margin-bottom: 0;
		}
	}
	
	.dateTimeForum{
		color: @grayLight;
		padding-left: 20px;
	}
	
	.uiCategoryInfo{
		.uiGrid.table th{
			padding: 0;
		}
		.textInfo{
			padding: 0 30px;
		}
	}
	
	
/******************************************** uiCategories ****************************************/

	.textTitleCategories{
		padding-left: 20px;
		line-height: 36px;
		font-family: @sansBoldFontFamily;
		color: @linkColor;
	}
	
}

.textHotTopic{
	color: @red;
}

.actionExpandCollapse{
	margin: 8px 8px 8px 0;
}

.emptyForum{
	margin:15px 0px;
	color: @grayLight;
}


