@import url('popup/Stylesheet.css') ;
@import url('UIPoll/Stylesheet.css') ;


body, html, div, table, tr, td, img, form {
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	margin:0;
	padding:0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.UIPollPortlet .UIGrid {
	width: 100%;
}

.UIPollPortlet .UIPollContainer {
	padding: 10px;
}

.UIPollPortlet .UIPollManagement .Label {
	padding: 15px 0px 0px 10px;
}

.UIPollPortlet .UIPollManagement .SelectBoxInput {
	padding: 5px 15px;
}

.UIPollPortlet .UIPollManagement .selectbox {
	width: 275px;
}

.UIPollPortlet .Cursor {
  cursor:pointer;
}

.UIPollPortlet .FloatLeft {
  float:left;
}

.UIPollPortlet .FloatRight{
  float:right;
}

/******************************** ViewPollForm *******************************/
.UIPollPortlet .ViewPollForm {
	padding: 0px 15px;
}

.UIPollPortlet .ViewPollForm .UIGrid .Number {
	text-align: center;
}

.UIPollPortlet .ViewPollForm .TotalVotes {
	font-weight: bold;
	text-align: right;
	line-height: 22px;
}

.UIPollPortlet .ViewPollForm .Chart {
	float: left;
	height: 14px;
}

.UIPollPortlet .ViewPollForm .Percen {
	padding: 0px;
	margin: 0px;
	border: none;
	background: none;
	height: auto;
	width: 96% ;
}

.UIPollPortlet .ViewPollForm .Percentage {
	float: right;
	width: 28px;
	padding: 0px;
	margin: 0px 0px 0px 2px;
	border: none;
	background: none;
	line-height: 20px;
	height: auto;
}

.UIPollPortlet .ViewPollForm .BackgroudColor {
	padding: 2px 0px 0px 0px;
	margin: 0px;
	background: none;
	border: none;
	width: 100%;
	height: auto ;
}

.UIPollPortlet .DeletePollIcon {
	background: url('background/DeletePollIcon.gif') no-repeat left center;
}

.UIPollPortlet .ForumToolbar {
	background: #e6e6e6;
	border: 1px solid #c6c6c6;
	border-bottom: none;
	border-radius: 3px 3px 0px 0px;
	padding: 2px 10px;
	line-height: 24px;
}
.UIPollPortlet .ForumToolbar .CollapseButton {
	background: url('background/Collapser.gif') no-repeat left center ;
}

.UIPollPortlet .EditPollIcon {
	background:url("background/EditPollIcon.gif") no-repeat left center;
}

.UIPollPortlet .ClosePollIcon {
	background:url("background/ClosePollIcon.gif") no-repeat left center;
}

.UIPollPortlet .OpenPollIcon {
	background:url("background/OpenPollIcon.gif") no-repeat left center;
}

.UIPollPortlet .StatusIcon {
	background-position:left center;
	height:auto;
	line-height:22px;
	margin:0;
	padding-left:22px;
	width:auto;
}

.UIPollPortlet .ForumToolbar .IconRight {
	float:right;
	width:16px; height:16px; 
	margin:5px 5px 0px 0px;
	cursor:pointer;
}

.UIPollPortlet .ForumToolbar .ExpandButton {
	background: url('background/Expand.gif') no-repeat ;
}

.UIPollPortlet a {
	color:#000000;
}

.UIPollPortlet a:hover {
	color:#058ee6;
}

.UIPollPortlet .ForumToolbar .Title {
	float:left;
	font-weight:bold;
	margin:6px 0px 0px 8px;
}

.UIPollPortlet .ForumToolbar .Title span {
	font-weight:normal;
}

.UIPollPortlet .ForumToolbar .ForumSeparatorLine {
	background:url(background/SeparatorLine2x19.gif) no-repeat right center;
}

.UIPollPortlet .EditPoll .AddPollIdIcon {
	float:left;
	height:16px;
	width:16px;
	margin: 3px 0px 0px 14px;
	background: url("/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueCirclePlus.gif") no-repeat ;	
}

.UIPollPortlet .EditPoll {
	margin:auto;
	width:460px;
	padding-bottom: 5px;
}

.UIPollPortlet .EditPoll .ActionBar{
	margin:auto;
	width:180px;
}

.UIPollPortlet #m_pollId{
	width: 250px;
}

.UIPollPortlet .MenuPollId {
	border:1px solid gray;
	left:-4px;
	position:absolute;
	top:18px;
	width:230px;
}

.UIPollPortlet .ContentAction .DefaultStyle {
	cursor: pointer;
}

/******************************************** UIRightClickPopupMenu ****************************************/
.UIPollPortlet .UIPopupCategory {
	left: 0px;
	position: relative;
	top: auto;
	width: auto;
	z-index: 4;
	float: left;
	margin-top: 0;
	border: none;
	background: none;
}

.UIPollPortlet .UIRightClickPopupMenu {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C6C6C6;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 1px 3px 5px #BDBDCE;
	position: absolute;
	white-space: nowrap;
}

.UIPollPortlet .UIRightClickPopupMenu .MenuItem {
	padding: 0px 10px;
	height: auto;
}

.UIPollPortlet .UIRightClickPopupMenu .MenuItem .ItemIcon {
  padding: 0px;
  padding-left: 26px;
  line-height: 24px;
	cursor: pointer;
}

.UIPollPortlet .UIRightClickPopupMenu .MenuItem:hover {
	background: #EAEAEA;
}
