@import "variables.less"; 
@import "mixins.less";


.uiAnswersPortlet {
	.uiAnswersBreadcumbs {
		padding-top: 3px;
	}
	.uiAnserContainer .leftColumn {
		width: 220px;
	}
	.uiAnserContainer .resize {
		width: 30px;
	}
	.uiAnserContainer .rightColumn {
		margin-left: 250px;
		overflow: hidden;
	}
}