@import "variables.less"; 
@import "mixins.less";
@import "answers/Sprites/Style.less";

.uiAnswersPortlet {
	.uiAnswersBreadcumbs {
		padding-top: 3px;
	}
	.uiAnserContainer .leftColumn {
		width: 220px;
	}
	.uiAnserContainer .resize {
		width: 30px;
	}
	.uiAnserContainer .rightColumn {
		margin-left: 250px;
		overflow: hidden;
	}
	
	.uiCategories {
		.listCategories > li {
			margin: 5px 0;
			cursor: pointer;
		} 
	}

	.uiQuestions {
		margin: 10px 0;	
		.answerToolbar {
			.nav-pills > li > a {
				padding-top: 5px;
				padding-bottom: 0;
			}
			.uiDropdownWithIcon {
				margin: 4px 0;
			}
		}
	}
	
	.uiQuestionInfo {
		.select-category {
			label {
				display: inline-block;
			}
			.uiSelectbox {
				width: 75px;
				select.selectbox {
					width: 100px;
				}
			}
		}
	}
}