@import "mixins.less";
@import "variables.less";

.uiFAQPortlet {
	padding: 20px;
	.goUp {
		background-color: #F9F9F9;
	    background-image: linear-gradient(to bottom, #FFFFFF, #F1F1F1);
	    background-repeat: repeat-x;
	    border: 1px solid #CFCFCF;
	    border-radius: 3px 3px 3px 3px;
	    box-shadow: 0 1px 2px 0 #FFFFFF;
	    float: right; 
	    position: fixed; 
	    bottom: 35px; 
	    right: 30px;
	    &:hover [class^="uiIcon"] {
	    	background-image: url("/eXoResources/skin/images/Icons/uiIconsBlue.png");
	    }
	}
}

.faqCont {
	padding: 10px 20px;
	.answersBlock {
		margin-top: 20px;
	}
	.answersBlock [class^="uiIcon"] {
		padding-left: 7px;
	}
}

.questionBlock, .answersBlock { 
	h4:first-child {
		background-color: @borderColor;
		border-radius: 2px;
		line-height: 35px;
		padding-left: 10px;
	}
	li {
		line-height: 30px;
	} 
}

.viewerQuestion, .viewerAnswer {
	padding: 10px 25px;
	> div {
		margin-bottom: 20px;
	}
	
	> p {
		padding-left: 22px;
	}
}

.questionList {
	padding: 0 15px 10px;
	> ul {
		padding-left: 10px;
	}
	h5:first-child a:first-child, h5:first-child a:first-child:hover {
		color: @textColor;
	}
	h5 .childItem {
		color: @linkColor;
		font-size: @baseFontSize;
		font-weight: normal;
	}
}

.answerList {
	padding: 0 15px 10px;
	
	> h5:first-child {
		background-color: #f5f5f5;
		border-radius: 2px;
		line-height: 30px;
		padding-left: 10px;
		margin-top: 0;
	}
	
	> div {
		margin: 20px 10px;
	}
}

.viewerAnswer, .answerList {
	.description {
		color: @gray;
		padding-left: 22px;
	}
	
	.answers {
		padding-left: 22px;
	}
}

