.uiBanIPForumManagerForm{
	.typeInputIp td input{
		width: 85%;
	}
	.uiQuickSearchForm{
		margin-bottom: 10px;
	}
}

.popupContent .contentContainer{
	padding: 10px;
}

.emptyData{
	color: #b3b3b3;
}

.uiAddPollForm{
	.form-horizontal{
		.control-label{
			width: 190px;
		}
		.controls{
			margin-left: 200px;
			.multiValueContainer + .multiValueContainer{
				margin-top: 10px;
			}
		}
	}
}

.horizontalLayout{
	margin: 10px;
}

.uiPageIterator + table{
	margin-top: 10px;
}