.uiForumListSearch{
	.searchResult{
		table > caption{
			text-align: center;
			padding: 5px 5px 5px 15px;
			.txtTitleResult{
				font-family:@sansBoldFontFamily;
				font-size: 14px;
				line-height: 28px;
			}
			.uiSelectbox, .selectbox{
				width: 50px;
			}
		}
	}
}