

.uiForumModerator {
	.forumList{
		padding: 10px;
	}
}

.contentTopicDetail{
	padding: 10px;
	&+ .contentTopicDetail{
		border-top: solid 1px #d9d9d9;
	}
	.postViewContainer{
		margin-left: 225px;
	}
	
	.postViewHeader{
		background: #f9f9f9;
		padding: 10px 15px;
		height:20px;
		.postViewTitle{
			font-family: @sansBoldFontFamily;
		}
		
		.postTime{
			color: @grayLight;
			margin-right: 10px;
		}
	}
	
}

.uiTopicDetail{

	.uiBox {
		&.uiPostRules{
			margin-top: 10px;
		}
	}
	.containerTopicDetail{
		margin-top: 10px;
	}
	
	.forumQuickReply{
		margin-top: 10px;
		.textQuickReply{
			textarea{
				width: 100%;
				min-height: 90px;
			}
		}
	}
	
}