@import	url('../syntaxhighlighter/Styles/SyntaxHighlighter.css');
/**************************** UIPopupInfoMenu *********************************/

.UIPopupInfoMenu ul,li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.UIPopupInfoMenu {
  float: none;
  display: inline;
  visibility: hidden;
  top: 0; left : 0; 
  margin : 0px; 
  width: auto;
  z-index: 4;
  position: relative;
  margin: 0px;
  left: 0;
}

.UIPopupInfoMenu .UIPopupInfoContent {
  box-shadow: none;
  border-radius: 0px;
  background: none;
  border: none;
  padding: 0px;
  position: absolute;
  top: 0; left : 0; 
}

.UIPopupInfoMenu .UIPopupInfoContent ul {
  box-shadow: -1px 2px 3px #D5D5D5;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #D3D3D3;
  padding: 8px;
}

.UIPopupInfoMenu .UIPopupInfoContent .Arrow {
  background: url('background/Arrow.png') no-repeat right top;
  width: 50px;
  height: 12px;
  margin-bottom: -1px;
  position: relative;
}

.UIPopupInfoMenu .UIPopupInfoContent .ItemIcon {
  background-position: 6px 50%;
  display: block;
  line-height: 24px;
  margin: 0;
  min-width: 60px;
  padding: 0 5px 0 28px;
  text-align: left;
  white-space: nowrap;
  color: black;
}

.UIPopupInfoMenu .UIPopupInfoContent .MenuItem:hover {
  background-color: #DEE4F2;
}

.UIPopupInfoMenu .UIPopupInfoContent .ItemIcon a:hover {
  color: #F7941D;
}

.ParentMaskLayer {
	position:relative ;
	z-index:0;
}

.ParentMaskLayer .KSMaskLayer {
	left:0px;	top:0px;
	z-index:5;
	position:absolute ;
	visibility:visible;
	background:url('background/Point1x1.png') no-repeat top center ;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.UIGroupMembershipSelector .UIBreadcumbs .BreadcumbsInfoBar {
	height: auto;
	border: medium none;
	background: none;
}

.UIGroupMembershipSelector .UIBreadcumbs .LeftBlock {
	line-height: 25px;
	padding: 0px 2px;
}

.UICreate {
	width: 300px;
}

.UICreate .UIForm .HorizontalLayout select {
	width: 140px;
}

.UICreate .ActionButton {
	float:left;
	width: 80px;
}

.UICreate .UIAction {
	clear: left;
}

.UIForumFilter {
	width: 150px;
	height: 24px;
	line-height: 23px;
	background: gray;
  border: 1px solid #D3D3D3;
	position:relative;
  box-shadow: -1px 2px 3px #D5D5D5;
  border-radius: 4px;
}

.UIForumFilter > span {
	text-align: left;
	font-weight: bold;
	float: left;
	white-space: nowrap;
}

.UIForumFilter .RightArrow {
	width: 20px;
	height: 22px;
	border-left: 1px solid  #D3D3D3;
	background: #777;
	float: right;
}

.UIForumFilter .FilterMenu {
	position:absolute;
	top: 15px; left: -5px;
	width: 180px; height: 0px;
	visibility:hidden;
	border: solid 1px #D3D3D3;
  border-radius: 4px;
  background: #fff;
}

.UIForumFilter .FilterMenu input {
	width: 150px;
	margin: auto;
	padding: 2px 5px;
}

.UIForumFilter .FilterMenu > ul {
}

.UIForumFilter .FilterMenu > ul > li {
	border-bottom: solid 1px #D3D3D3;
}

.UIForumFilter .FilterMenu li {
	padding-left: 10px;
}

.UIForumFilter .FilterMenu > ul > li:last-child {
	border-bottom: none;
}

.UIForumFilter .FilterMenu .Item li {
	cursor: pointer;
}










